<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Dashboard</title>



  </head>
  <body>
  <div>
    {% for message in get_flashed_messages() %}

      <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    {% endfor %}
  </div>
  <h4> {{current_user.username|capitalize}} Dashboard </h4>
  <div class="container">
    <div class="large-tile">
      <div class="row">
        <div class="col-md-6">
            <div class="card text-center rounded-border">
              <div class="card-header text-muted" style="text-align:left">
                Squad view: </div>
              <div class="card-body">
                <h5 class="card-title">View squad data</h5>
                <p class="card-text">Select a protocol to view performance analysis across a whole squad </p>

                    <div class="shadow p-3 mb-5 bg-body rounded">
                  <form method="POST">
                    {{ form.squad.csrf_token }}


                    {{( form.squad.org.label(class="form-label") )}}
                    {{( form.squad.org(class="form-control") )}}
                    <br>
                    {{( form.squad.pro.label(class="form-label") )}}
                    {{( form.squad.pro(class="form-control") )}}

                    <br>
                    {{( form.squad.submit(class="btn btn-secondary") )}}

                  </form>

                  <script>
                    var squad_selector = document.getElementById("org");
                    var pro_select = document.getElementById("pro");

                    squad_selector.onchange = function()  {

                        org = squad_selector.value;

                        fetch('/pro/' + org).then(function(response) {

                            response.json().then(function(data) {
                                var optionHTML = '';

                                for (var protocol of data.protocols) {
                                    var pName = '<option>' + protocol.name + '</option>';
                                    if ( optionHTML.includes(pName) === false) {
                                      optionHTML += '<option>' + protocol.name + '</option>';
                                    }
                                }

                                pro_select.innerHTML = optionHTML;
                            })

                        });
                    }
                </script>
            </div>
            </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="card text-center rounded-border">
  <div class="card-header text-muted" style="text-align:left">
    Player view: </div>
  <div class="card-body">
    <h5 class="card-title">View player profiles</h5>
    <p class="card-text">Select a player to view detailed performance analysis</p>
    <div class="shadow p-3 mb-5 bg-body rounded">
      <form method="POST">
        {{ form.player.csrf_token }}


        {{ form.player.squad.label(class="form-label") }}
        {{ form.player.squad(class="form-control") }}
        <br>
        {{ form.player.name.label(class="form-label") }}
        {{ form.player.name(class="form-control") }}
        <br>
        {{ form.player.submit(class="btn btn-secondary")}}

      </form>

      <script>
        var squad_select = document.getElementById("squad");
        var player_select = document.getElementById("name");

        squad_select.onchange = function()  {

            squad = squad_select.value;

            fetch('/player/' + squad).then(function(response) {

                response.json().then(function(data) {
                    var optionHTML = '';

                    for (var player of data.players) {
                        optionHTML += '<option>' + player.name + '</option>';
                    }

                    player_select.innerHTML = optionHTML;
                })

            });
        }
    </script>
      </div>
    </div>
      </div>
        </div>
      </div>


<br>
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="card text-center rounded-border">
  <div class="card-header text-muted" style="text-align:left"> Information: </div>
  <div class="card-body">
    <h5 class="card-title">Help centre</h5>
    <p class="card-text">Get advice and tips to help you obtain more meaningful test results.</p>
    <hr>
    <br>
    <div class="row align-items-center">
      <div class="col">
        <a type="button" class="btn btn-outline-secondary btn-lg" href="/ifu">View instructions for use</a>
      </div>
      <div class="col">
        <a type="button" class="btn btn-outline-secondary btn-lg" href="/device">Instructional videos & images</a>
      </div>
      <div class="col">
        <a type="button" class="btn btn-outline-secondary btn-lg">Biostrain Blog</a>
      </div>
    </div>
    <br>
  </div>
  </div>
      </div>
    </div>
    </div>
</div>
  <br><br>
  </body>
{% endblock %}
</html>
