<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Biostrain!</title>

    </head>


    <body>
    <br><br><br>
    <center>
        <div class="card text-bg-light" style="width: 90%">
            <img src="{{url_for('static', filename='images/assembly.jpg')}}" width="100%" height="600px">
            <div class="card-body">
                <strong><p class="card-text" style="text-align:center; font-size:small">The Biostrain device.</p></strong>
            </div>
        </div>
    </center>

    <br><br>

{% endblock %}

