<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.2.0"></script>

<script src="/static/js/graphingFunctions.js"></script>
<div class="content">
  <div class="player-info">
      <h3> Player information </h3>
    <div class="row">
          <div class="col-md-3 rounded-border">
            <div class="tile">
                <br>
              <h5>Name</h5>
              <p>{{name|safe}}</p>
            </div>
          </div>
          <div class="col-md-3 rounded-border">
            <div class="tile">
                <br>
              <h5>Squad</h5>
              <p>{{org|safe}}</p>
            </div>
          </div>
          <div class="col-md-3 rounded-border">
            <div class="tile">
                <br>
              <h5>Sessions Completed</h5>
              <p>{{sessionList|length}}</p>
            </div>
          </div>
          <div class="col-md-3 rounded-border">
            <div class="tile">
                <br>
              <h5>Last session date</h5>
              <p>{{dates[dates|length-1]}}</p>
            </div>
          </div>
          </div>
    <div class="player-overview">
        <div class="row">
            <div class="col-md-4">
            <br>
                <h3>Performance Overview</h3>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12 rounded-border" style="justify-content:center align-items:center">
            <canvas id="activityChart" style="max-height:92%; max-width:100%"></canvas>
            <br>
        </div>
      </div>
        <br>
            <div class="row">
                <div class="col-md-6 mx-auto rounded-border">
                    <div class="row">
                        <div class="col-md-5" style="text-align:center">
                            <h4> Score progression </h4>
                        </div>
                        <div class="col-md-5" style="text-align:left">
                            <div class="info-icon">
                              <span class="info-icon__symbol">i</span>
                                  <div class="info-icon__content" style="width:50%">
                                    <p>Use this plot to track your progress in the key metrics across sessions.</p>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <canvas id="progressChart"></canvas>
                    <br>
                    <div class="row">
                        <div class="col-md-6" style="text-align:center">
                            <h4> Asymmetry progression </h4>
                        </div>
                        <div class="col-md-5" style="text-align:left">
                            <div class="info-icon">
                              <span class="info-icon__symbol">i</span>
                                  <div class="info-icon__content" style="width:50%">
                                    <p>Use this plot to monitor asymmetry across sessions.</p>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <canvas id="asymProgressChart"></canvas>
                </div>


                <div class="col-md-6 mx-auto rounded-border">
                    <div class="row">
                        <div class="col-md-7" style="text-align:right">
                            <h4> Player radar plot </h4>
                        </div>
                        <div class="col-md-5" style="text-align:left">
                            <div class="info-icon">
                              <span class="info-icon__symbol">i</span>
                                  <div class="info-icon__content" style="width:50%">
                                    <p>Use this plot to observe your performance in the key metrics.</p>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <canvas id="radarChart"></canvas>
                </div>
        </div>
      </div>
    </div>
  </div>


<script>
    // Get the data from the LHTZ_data and RHTZ_data dictionaries
    var data = {{ playerSessions|tojson|safe }}

    var sessionList = {{ sessionList|safe }}
    console.log('session list');
    console.log(sessionList);
    var radarData = getRadarData(data)

    var extendedActivityData = extendDatesAndNumTests({{dates|safe}}, {{numTests|safe}})
    var extendedDates = extendedActivityData.dates
    var extendedNumTests = extendedActivityData.numTests

    var progressData = getProgressData(data, sessionList)
    console.log('progress session list');
    console.log(progressData['labels']);

</script>




<script>
  var data = {
    labels: extendedDates,
    datasets: [{
      label: 'Tests completed',
      data: extendedNumTests,
      fill: true,
      borderColor: 'rgb(100, 75, 185)',
      tension: 0.25
    }]
  }

  new Chart(document.getElementById("activityChart"), {
      type: "line",
      data: data,
      options: {
        scales: {
            y:{
              min:0,
              max: 25,
              title:{
                color: 'black',
                text: 'Number of completed tests',
                display: true
              },
              ticks: {
                    color: 'black',
              }
            },
            x:{
                ticks: {
                    color: 'black',
                    stepSize: 50,
                    maxTicksLimit: 10
              }
            }
          }
        }
    });
</script>

<script>
  var data = {
    labels: progressData['labels'],
    datasets: [{
      label: 'Peak force',
      yAxisID: 'y',
      data: progressData['Peak force'],
      borderColor: 'rgba(75, 192, 192, 1)',
      tension: 0.25
    },
    {
      label: 'Force at 150ms',
      yAxisID: 'y',
      data: progressData['Force at 150ms'],
      borderColor: 'rgba(255, 99, 132, 1)',
      tension: 0.25
    },
    {
      label: 'RFD 50-150ms',
      yAxisID: 'y1',
      data: progressData['RFD 50-150ms'],
      borderColor: 'rgb(100, 75, 185)',
      tension: 0.25
    }]
  }

  var progressChart = new Chart(document.getElementById("progressChart"), {
      type: "line",
      data: data,
      options: {
        plugins: {
          tooltip: {
            mode: 'index', // Display tooltip for the nearest point in the x-axis
            intersect: false,
         }
        },
        scales: {
            y:{
              min:0,
              title:{
                color: 'black',
                text: 'Force (kg)',
                display: true
              },
              ticks: {
                    color: 'black',
              }
            },
            y1:{
              position: 'right',
              min:0,
              title:{
                color: 'black',
                text: 'Rate of force development (kg/s)',
                display: true
              },
              ticks: {
                    color: 'black',
              }
            },
            x:{
                ticks: {
                    color: 'black',
                    stepSize: 50,
                    maxTicksLimit: 10
              }
            }
          }
        }
    });
    updateChartLegendProgress(progressData, progressChart)
</script>
<script>
  var data = {
    labels: progressData['labels'],
    datasets: [{
      label: 'Peak force',
      yAxisID: 'y',
      data: progressData['Peak force asymmetry'],
      borderColor: 'rgba(75, 192, 192, 1)',
      borderDash: [5, 5],
      tension: 0.25
    },
    {
      label: 'Force at 150ms',
      yAxisID: 'y',
      data: progressData['Force at 150ms asymmetry'],
      borderColor: 'rgba(255, 99, 132, 1)',
      borderDash: [5, 5],
      tension: 0.25
    },
    {
      label: 'RFD 50-150ms',
      yAxisID: 'y',
      data: progressData['RFD 50-150ms asymmetry'],
      borderColor: 'rgb(100, 75, 185)',
      borderDash: [5, 5],
      tension: 0.25
    }]
  }

  var progressAsymChart = new Chart(document.getElementById("asymProgressChart"), {
      type: "line",
      data: data,
      options: {
        plugins: {
          tooltip: {
            mode: 'index', // Display tooltip for the nearest point in the x-axis
            intersect: false,
         }
        },
        scales: {
            y:{
              min:-100,
              max:100,
              title:{
                color: 'black',
                text: 'Asymmetry (%)',
                display: true
              },
              ticks: {
                    color: 'black',
              }
            },
            x:{
                ticks: {
                    color: 'black',
                    stepSize: 50,
                    maxTicksLimit: 10
              }
            }
          }
        }
    });
    updateChartLegendProgress(progressData, progressAsymChart)
</script>

<script>
// Get canvas element
var radarChartCanvas = document.getElementById('radarChart');

// Create the radar chart
var radarChart = new Chart(radarChartCanvas, {
  type: 'radar',
  data: {
    labels: Object.keys(radarData['last-session']),
    datasets: [{
      label: 'Last session',
      data: Object.values(radarData['last-session']),
      fill: true,
      backgroundColor: 'rgba(75, 192, 192, 0.2)',
      borderColor: 'rgba(75, 192, 192, 1)',
      pointBackgroundColor: 'rgba(75, 192, 192, 1)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgba(75, 192, 192, 1)'
    },
    {
      label: 'PB',
      data: Object.values(radarData['PB']),
      fill: true,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132, 1)',
      pointBackgroundColor: 'rgba(255, 99, 132, 1)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgba(255, 99, 132, 1)'
    }]
  },
  options: {
    color:'black',
    scale: {
    pointLabels: {
            fontColor: 'black',
        },
      r: {
        beginAtZero: true,
        min: 0,
        max: 100,
        ticks:{
            color: 'black'
        }
      }
    },
    plugins:{
        legend:{
        position: 'chartArea',
        align: 'start',
    }
    }
  }
});



</script>


</div>


