{% extends 'base.html' %}
{% block content %}
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.2.0"></script>

	<meta charset="UTF-8">
	<title>Player Analysis</title>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
	<div class="container">
		<div class="small-tile rounded-border" data-content="playerinfo" id="player-info-tile">
			<h2>Player Overview</h2>
		</div>
		<div class="small-tile rounded-border" data-content="sessionselector" id="session-selector-tile">
			<h2>Session Selector</h2>
		</div>
		<div class="small-tile rounded-border" data-content="progresstracker" id="progress-tracker-tile">
			<h2>Progress Tracker</h2>
		</div>
		<div class="large-tile" id="large-tile"></div>
	</div>

<script>
	var playerinfo_content = {{ playerinfo_content|tojson }};
    var sessionselector_content = {{ sessionselector_content|tojson  }};
    var progresstracker_content = {{ progresstracker_content|tojson  }};
	$('.small-tile').on('click', function() {
	  // Remove selected class from all small tiles
	  $('.small-tile').removeClass('selected');
	  // Add selected class to the clicked small tile
	  $(this).addClass('selected');

	  // Get the selected tile's data content
	  var selectedContent = $(this).data('content');

	  // Check the selected content and assign the corresponding value
	  if (selectedContent === 'playerinfo') {
	    var content = playerinfo_content;
	  } else if (selectedContent === 'sessionselector') {
	    var content = sessionselector_content;
	  } else if (selectedContent === 'progresstracker') {
	    var content = progresstracker_content;
	  }

	  // Update the large tile with the new content
	  $('#large-tile').html(content);
	});

	// Trigger click event on the "Player Information" tile when the page is loaded
	$('.small-tile[data-content="playerinfo"]').trigger('click');
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>

{% endblock %}
</html>
