<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Player Analysis</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
    <script src="/static/js/graphingFunctions.js"></script>
  </head>

  <body>
    <div>
      {% for message in get_flashed_messages() %}

      <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      {% endfor %}
      <br>
    </div>
    <h4> Player View: {{name}} </h4>
    <hr>
    <br>


    <div class="card">
      <h5 class="card-header">Featured: user activity</h5>
      <div class="card-body">
        <h5 class="card-title">Activity log</h5>
        <p class="card-text">Monitor your activity on the Biostrain system in the last 30 days.</p>
        <canvas id="activityChart" width="100%" height="40%"></canvas>
      </div>
    </div>
    <br><br>


    <div class="card">
      <h5 class="card-header">Featured: baseline protocols</h5>
      <div class="card-body">
        <p class="card-text">Baseline protocols allow us to monitor your performance when fresh and give insights into your absolute performance capabilities as well as your performance potential.</p>
        <h5 class="card-title">Baseline session viewer:</h5>
        <label for="baseline-select">Select a baseline session from the list of your saved data:</label>
        <select id="baseline-select">
          {% for session in baselineList %}
          <option> {{ session }} </option>
          {% endfor %}
        </select>
        <br><br>

        <div class="row">
          <div class="col">
            <p style="text-align:center"> <strong> Transition zone comparison: </strong></p>
            <!-- First dropdown for selecting the metric -->
            <label for="metric-select">Select Metric:</label>
            <select id="metric-select">
              <option value="peak-crush-factor">Peak crush factor</option>
              <option value="front-leg-peak-force">Front leg peak force</option>
              <option value="back-leg-peak-force">Back leg peak force</option>
              <option value="crush-factor-150ms">Crush factor at 150ms</option>
              <option value="front-leg-force-150ms">Front leg force at 150ms</option>
              <option value="back-leg-force-150ms">Back leg force at 150ms</option>
            </select>
            <br><br>
            <canvas id="myChart" width="70%" height="40%"></canvas>
            <br><br>
            <table id="last-baseline-table" class="table table-bordered border-dark" width="100%" style="text-align:center"></table>
          </div>
          <div class="col">
            <p style="text-align:center"> <strong> Combined transition zones: </strong></p>
            <div class="row">
              <div class="col">
                <label for="asym-select">Select asymmetry:</label>
                <select id="asym-select">
                  <option value="crush-factor-asym">Transition zone</option>
                  <option value="front-leg-asym">Front leg</option>
                  <option value="back-leg-asym">Back leg</option>
                </select>
              </div>
              <div class="col">
                <label for="cc-metric-select">Select metric:</label>
                <select id="cc-metric-select">
                  <option value="peak-force">Peak force</option>
                  <option value="force-150">Force at 150ms</option>
                </select>
              </div>
            </div>
            <br>
            <canvas id="lb-combined-crush" width="70%" height="40%"></canvas>
            <br>
            <table id="last-baseline-cc-table" class="table table-bordered border-dark" width="100%" style="text-align:center"></table>
            <br>
          </div>
        </div>
        <br>
        <hr><br>
        <h5 class="card-title">Baseline progress tracker:</h5>
        <p> Track your progress over time across all baseline protocols </p>
        <!-- First dropdown for selecting the metric -->
        <label for="bh-metric-select">Select Metric:</label>
        <select id="bh-metric-select">
          <option value="peak-crush-factor">Peak crush factor</option>
          <option value="front-leg-peak-force">Front leg peak force</option>
          <option value="back-leg-peak-force">Back leg peak force</option>
          <option value="crush-factor-150ms">Crush factor at 150ms</option>
          <option value="front-leg-force-150ms">Front leg force at 150ms</option>
          <option value="back-leg-force-150ms">Back leg force at 150ms</option>
        </select>
        <!-- Second dropdown for selecting the data type -->
        <label for="bh-type-select">Select Data Type:</label>
        <select id="bh-type-select">
          <option value="max">Maximum scores</option>
          <option value="avg">Average scores</option>
        </select>
        <canvas id="baselineHistoricalChart" width="100%" height="40%"></canvas>
        <br>
        <table id="baseline-historical-table" class="table table-bordered border-dark" width="100%" style="text-align:center"></table>
        <br>

      </div>
    </div>
    <br><br>

{% if fatigueList.length == 0 %}
    <div class="card">
      <h5 class="card-header">Featured: fatigue protocols</h5>
      <div class="card-body">
        <p class="card-text">Fatigue protocols are designed to investigate how your performance breaks down when you become fatigued, this can help set limits for training intensity and inform decisions about recovery.
          Becoming fatigued impacts your ability to generate force rapidly. The solid lines represent your maximum (fresh) capability, while the dashed lines represent your best efforts in a fatigued state.
        </p>
        <h5 class="card-title">Last fatigue session:</h5>
        <label for="fatigue-select">Select a fatigue session from the list of your saved data:</label>
        <select id="fatigue-select">
          {% for session in fatigueList %}
          <option> {{ session }} </option>
          }
          {% endfor %}
        </select>
        <br><br>
        <label for="fatigue-metric-select">Select Metric:</label>
        <select id="fatigue-metric-select">
          <option value="peak-crush-factor">Peak crush factor</option>
          <option value="front-leg-peak-force">Front leg peak force</option>
          <option value="back-leg-peak-force">Back leg peak force</option>
          <option value="crush-factor-150ms">Crush factor at 150ms</option>
          <option value="front-leg-force-150ms">Front leg force at 150ms</option>
          <option value="back-leg-force-150ms">Back leg force at 150ms</option>
        </select>
        <canvas id="myFatigueChart" width="100%" height="40%"></canvas>
        <br>
        <table id="last-fatigue-table" class="table table-bordered border-dark" width="100%" style="text-align:center"></table>

        <br>
        <hr><br>
        <h5 class="card-title">Fatigue test progress tracker:</h5>
        <p> Track your progress over time across all fatigue protocols </p>
        <!-- First dropdown for selecting the metric -->
        <label for="fh-metric-select">Select Metric:</label>
        <select id="fh-metric-select">
          <option value="peak-crush-factor">Peak crush factor</option>
          <option value="front-leg-peak-force">Front leg peak force</option>
          <option value="back-leg-peak-force">Back leg peak force</option>
          <option value="crush-factor-150ms">Crush factor at 150ms</option>
          <option value="front-leg-force-150ms">Front leg force at 150ms</option>
          <option value="back-leg-force-150ms">Back leg force at 150ms</option>
        </select>
        <!-- Second dropdown for selecting the data type -->
        <label for="fh-type-select">Select Data Type:</label>
        <select id="fh-type-select">
          <option value="max">Maximum scores</option>
          <option value="avg">Average scores</option>
        </select>
        <canvas id="fatigueHistoricalChart" width="100%" height="40%"></canvas>
        <br>
        <table id="fatigue-historical-table" class="table table-bordered border-dark" width="100%" style="text-align:center"></table>
        <br>
      </div>
    </div>
    <br><br>
{% endif %}
    <div class="card">
      <h5 class="card-header">Featured: Summary report</h5>
      <div class="card-body" style="text-align:center">
        <p class="card-text" style="text-align:left"> View best, worst and average peak force scores across each protocol, transition zone and leg: </p>
        {{ report|safe }}
      </div>
    </div>


  <script>
  // Get the data from the LHTZ_data and RHTZ_data dictionaries
var LHTZ_data = {{ LHTZ_baseline|tojson|safe }};
var RHTZ_data = {{ RHTZ_baseline|tojson|safe }};

// Extract the data for the chart
var LHTZ_chartData = LHTZ_data['session']['Front leg force at 150ms'];
var RHTZ_chartData = RHTZ_data['session']['Front leg force at 150ms'];

// Get the labels for the chart
var labels = LHTZ_data['session']['index'];

// Create a new chart
const ctx = document.getElementById("myChart").getContext("2d");
var myChart = new Chart(ctx, {
  type: "bar",
  data: {
    labels: labels,
    datasets: [{
        label: 'LHTZ',
        data: LHTZ_chartData,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 1
      },
      {
        label: 'RHTZ',
        data: RHTZ_chartData,
        backgroundColor: [
          'rgba(54, 162, 235, 0.2)'
        ],
        borderColor: [
          'rgba(54, 162, 235, 1)'
        ],
        borderWidth: 1
      }
    ]
  },
  options: {
    plugins: {
      tooltip: {
        callbacks: {
          label: function(tooltipItem) {
            var Data = myChart.data;
            var index = tooltipItem.dataIndex;
            console.log(index)
            var LHTZ_value = 0;
            var RHTZ_value = 0;
            if (Data && Data.datasets[0].data[index]) {
                LHTZ_value = Data.datasets[0].data[index];
            }
            if (Data && Data.datasets[1].data[index]) {
                RHTZ_value = Data.datasets[1].data[index];
            }
            var difference = RHTZ_value - LHTZ_value;
            var difference_percent = (difference / LHTZ_value * 100).toFixed(2);
            return "LHTZ: " + LHTZ_value + " kg\n" + "RHTZ: " + RHTZ_value + " kg\n" + "Asymmetry: " + difference_percent + "%";
          }
        }
      }
    },
    scales: {
      y: {
        title: {
          text: 'Force (kg)',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      x: {
        title: {
          text: 'Test number',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});

// Get references to the select elements
var sessionSelect = document.getElementById("baseline-select");
sessionSelect.addEventListener("change", updateChart);
var metricSelect = document.getElementById("metric-select");
metricSelect.addEventListener("change", updateChart);
// Function to update the chart when a new option is selected
function updateChart() {
    var sessions = {{ sessions|tojson|safe }}
    var selectedSession = sessionSelect.options[sessionSelect.selectedIndex].text;
    var sessionData = getSessionData(sessions, selectedSession);
    var table1 = document.getElementById("last-baseline-table")
    var selectedMetric = metricSelect.options[metricSelect.selectedIndex].text;
    var filteredData1 = filterDataSession(selectedMetric, sessionData['LHTZ'], sessionData['RHTZ']);
    updateChartDataSession(filteredData1, myChart);
    updateTable(filteredData1, table1);
  }
updateChart();
  </script>

<script>
  // Get the data from the LHTZ_data and RHTZ_data dictionaries
var LHTZ_data2 = {{ LHTZ_fatigue|tojson|safe }};
var RHTZ_data2 = {{ RHTZ_fatigue|tojson|safe }};

// Extract the data for the chart
var LHTZ_chartData = LHTZ_data2['session']['Front leg force at 150ms'];
var RHTZ_chartData = RHTZ_data2['session']['Front leg force at 150ms'];

// Get the labels for the chart
var labels2 = LHTZ_data2['session']['index'];

// Create a new chart
const ctx2 = document.getElementById("myFatigueChart").getContext("2d");
const myFatigueChart = new Chart(ctx2, {
    type: "line",
    data: {
        labels: labels2,
        datasets: [
        {
            label: 'LHTZ',
            data: LHTZ_chartData,
            backgroundColor: [
                'rgba(128,0,128,0.2)'
            ],
            borderColor: [
                'rgba(128,0,128,1)'
            ],
            borderWidth: 1
        },
        {
            label: 'RHTZ',
            data: RHTZ_chartData,
            backgroundColor: [
                'rgba(0,128,0,0.2)'
            ],
            borderColor: [
                'rgba(0,128,0,1)'
            ],
            borderWidth: 1
        }
        ]
    },
        options: {
          plugins: {
            tooltip: {
              callbacks: {
                label: function(tooltipItem) {
                  var Data = myFatigueChart.data;
                  var index = tooltipItem.dataIndex;
                  console.log(index)
                  var LHTZ_value = 0;
                  var RHTZ_value = 0;
                  if (Data && Data.datasets[0].data[index]) {
                      LHTZ_value = Data.datasets[0].data[index];
                  }
                  if (Data && Data.datasets[1].data[index]) {
                      RHTZ_value = Data.datasets[1].data[index];
                  }
                  var difference = RHTZ_value - LHTZ_value;
                  var difference_percent = (difference / LHTZ_value * 100).toFixed(2);
                  return "LHTZ: " + LHTZ_value + " kg\n" + "RHTZ: " + RHTZ_value + " kg\n" + "Asymmetry: " + difference_percent + "%";
                }
              }
            }
          },
          scales: {
              y: {
                title: {
                  text: 'Force (kg)',
                  color: 'black',
                  display: true
                },
                border: {
                  color: 'black'
                },
                ticks: {
                  color:'black'
                }
              },
              x: {
                title: {
                  text: 'Test number',
                  color: 'black',
                  display: true
                },
                border: {
                  color: 'black'
                },
                ticks: {
                  color:'black'
                }
              },
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });


// Get references to the select elements
var sessionSelect2 = document.getElementById("fatigue-select");
sessionSelect2.addEventListener("change", updateChart2);
var metricSelect2 = document.getElementById("fatigue-metric-select");
metricSelect2.addEventListener("change", updateChart2);
// Function to update the chart when a new option is selected
function updateChart2() {
    var sessions2 = {{ sessions|tojson|safe }}
    var selectedSession2 = sessionSelect2.options[sessionSelect2.selectedIndex].text;
    var sessionData2 = getSessionData(sessions2, selectedSession2);
    var table2 = document.getElementById("last-fatigue-table")
    var selectedMetric2 = metricSelect2.options[metricSelect2.selectedIndex].text;
    var filteredData2 = filterDataSession(selectedMetric2, sessionData2['LHTZ'], sessionData2['RHTZ']);
    updateChartDataSession(filteredData2, myFatigueChart);
    updateTable(filteredData2, table2);
  }
updateChart2();

  </script>

  <script>
  // Get the data from the LHTZ_data and RHTZ_data dictionaries
var data3 = {{ baselineHistoricalData|tojson|safe }};

// Extract the session names
var session_names = [];
for (var session in data3) {
  session_names.push(session);
}

// Extract the data for the chart
var BH_LHTZ_data = [];
var BH_RHTZ_data = [];
for (var session in data3) {
  BH_LHTZ_data.push(data3[session]['LHTZ']['max']['Front leg force at 150ms'][0]);
  BH_RHTZ_data.push(data3[session]['RHTZ']['max']['Front leg force at 150ms'][0]);
}

// Create a new chart
const ctx3 = document.getElementById("baselineHistoricalChart").getContext("2d");
const baselineHistoricalChart = new Chart(ctx3, {
  type: "bar",
  data: {
    labels: session_names,
    datasets: [{
        label: 'LHTZ',
        data: BH_LHTZ_data,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 1
      },
      {
        label: 'RHTZ',
        data: BH_RHTZ_data,
        backgroundColor: [
          'rgba(54, 162, 235, 0.2)'
        ],
        borderColor: [
          'rgba(54, 162, 235, 1)'
        ],
        borderWidth: 1
      }
    ]
  },
  options: {
    plugins: {
      tooltip: {
        callbacks: {
          label: function(tooltipItem) {
            var Data = baselineHistoricalChart.data;
            var index = tooltipItem.dataIndex;
            console.log(index)
            var LHTZ_value = 0;
            var RHTZ_value = 0;
            if (Data && Data.datasets[0].data[index]) {
                LHTZ_value = Data.datasets[0].data[index];
            }
            if (Data && Data.datasets[1].data[index]) {
                RHTZ_value = Data.datasets[1].data[index];
            }
            var difference = RHTZ_value - LHTZ_value;
            var difference_percent = (difference / LHTZ_value * 100).toFixed(2);
            return "LHTZ: " + LHTZ_value + " kg\n" + "RHTZ: " + RHTZ_value + " kg\n" + "Asymmetry: " + difference_percent + "%";
          }
        }
      }
    },
    scales: {
      y: {
        title: {
          text: 'Force (kg)',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      x: {
        title: {
          text: 'Session (protocol: date)',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});

// Get references to the select elements
var metricSelect3 = document.getElementById("bh-metric-select");
var dataSelect3 = document.getElementById("bh-type-select");
metricSelect3.addEventListener("change", updateChart3);
dataSelect3.addEventListener("change", updateChart3);
// Function to update the chart when a new option is selected
function updateChart3() {
    var table3 = document.getElementById("baseline-historical-table")
    var selectedMetric3 = metricSelect3.options[metricSelect3.selectedIndex].text;
    var selectedData3 = dataSelect3.options[dataSelect3.selectedIndex].value;
    var filteredData3 = filterDataHistorical(selectedData3, selectedMetric3, data3);
    updateChartDataSession(filteredData3, baselineHistoricalChart);
    updateTableHistorical(filteredData3, table3, session_names);
  }
updateChart3();
</script>

<script>
  // Get the data from the LHTZ_data and RHTZ_data dictionaries
var data4 = {{ fatigueHistoricalData|tojson|safe }};

// Extract the session names
var session_names2 = [];
for (var session in data4) {
  session_names2.push(session);
}

// Extract the data for the chart
var FH_LHTZ_data = [];
var FH_RHTZ_data = [];
for (var session in data4) {
  FH_LHTZ_data.push(data4[session]['LHTZ']['max']['Front leg force at 150ms'][0]);
  FH_RHTZ_data.push(data4[session]['RHTZ']['max']['Front leg force at 150ms'][0]);
}

// Create a new chart
const ctx4 = document.getElementById("fatigueHistoricalChart").getContext("2d");
const fatigueHistoricalChart = new Chart(ctx4, {
  type: "bar",
  data: {
    labels: session_names2,
    datasets: [{
        label: 'LHTZ',
        data: FH_LHTZ_data,
        backgroundColor: [
          'rgba(128, 0, 128, 0.2)'
        ],
        borderColor: [
          'rgba(128, 0, 128, 1)'
        ],
        borderWidth: 1
      },
      {
        label: 'RHTZ',
        data: FH_RHTZ_data,
        backgroundColor: [
          'rgba(0,128,0,0.2)'
        ],
        borderColor: [
          'rgba(0,128,0,1)'
        ],
        borderWidth: 1
      }
    ]
  },
  options: {
     plugins: {
        tooltip: {
          callbacks: {
            label: function(tooltipItem) {
              var Data = fatigueHistoricalChart.data;
              var index = tooltipItem.dataIndex;
              console.log(index)
              var LHTZ_value = 0;
              var RHTZ_value = 0;
              if (Data && Data.datasets[0].data[index]) {
                  LHTZ_value = Data.datasets[0].data[index];
              }
              if (Data && Data.datasets[1].data[index]) {
                  RHTZ_value = Data.datasets[1].data[index];
              }
              var difference = RHTZ_value - LHTZ_value;
              var difference_percent = (difference / LHTZ_value * 100).toFixed(2);
              return "LHTZ: " + LHTZ_value + " kg\n" + "RHTZ: " + RHTZ_value + " kg\n" + "Asymmetry: " + difference_percent + "%";
            }
          }
        }
      },
    scales: {
      y: {
        title: {
          text: 'Force (kg)',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      x: {
        title: {
          text: 'Session (protocol: date)',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});

// Get references to the select elements
var metricSelect4 = document.getElementById("fh-metric-select");
var dataSelect4 = document.getElementById("fh-type-select");
metricSelect4.addEventListener("change", updateChart4);
dataSelect4.addEventListener("change", updateChart4);
// Function to update the chart when a new option is selected
function updateChart4() {
    var table4 = document.getElementById("fatigue-historical-table")
    var selectedMetric4 = metricSelect4.options[metricSelect4.selectedIndex].text;
    var selectedData4 = dataSelect4.options[dataSelect4.selectedIndex].value;
    var filteredData4 = filterDataHistorical(selectedData4, selectedMetric4, data4);
    updateChartDataSession(filteredData4, fatigueHistoricalChart);
    updateTableHistorical(filteredData4, table4, session_names2);
  }
updateChart4();
</script>







    <script>
      const activityLabels = {{ dates|safe }}
      const activityData = {
        labels: activityLabels,
        datasets: [{
          label: 'Tests completed',
          data: {{ numTests|safe }},
          fill: true,
          borderColor: 'rgb(100, 75, 185)',
          tension: 0.05
        }]
      }

      const ctx5 = document.getElementById("activityChart").getContext("2d");
      const activityChart = new Chart(ctx5, {
        type: "line",
        data: activityData,
        options: {
          scales: {
            y: {
              min: 0,
              max: 40,
              title: {
                text: 'Number of completed tests',
                display: true
              }
            },
            xAxes: [{
              ticks: {
                autoSkip: true,
                maxTicksLimit: 2
              }
            }]
          }
        }
      });

    </script>

<script>
// Get the data from the LHTZ_data and RHTZ_data dictionaries
var LHTZ_data = {{ LHTZ_baseline|tojson|safe }};
var RHTZ_data = {{ RHTZ_baseline|tojson|safe }};

// Extract the data for the chart
var LHTZ_FLchartData = LHTZ_data['session']['Front leg peak force'];
var LHTZ_BLchartData = LHTZ_data['session']['Back leg peak force'];
var RHTZ_FLchartData = RHTZ_data['session']['Front leg peak force'];
var RHTZ_BLchartData = RHTZ_data['session']['Back leg peak force'];
var TZ_asym = [];
for (var i = 0; i < LHTZ_FLchartData.length; i++) {
    var asym = 100*(((RHTZ_FLchartData[i]+RHTZ_BLchartData[i])-(LHTZ_FLchartData[i]+LHTZ_BLchartData[i]))/(LHTZ_FLchartData[i]+LHTZ_BLchartData[i]))
    TZ_asym.push(asym)
};

// Get the labels for the chart
var labels = LHTZ_data['session']['index'];

// Create a new chart
const ctx6 = document.getElementById("lb-combined-crush").getContext("2d");
const lbCombinedCrush = new Chart(ctx6, {
  type: "bar",
  data: {
    labels: labels,
    datasets: [{
        label: 'Asymmetry',
        data: TZ_asym,
        borderColor: [
          'black'
        ],
        borderWidth: 1,
        yAxisID: 'y1',
        type: 'line'
      },
      {
        label: 'LHTZ FL',
        data: LHTZ_FLchartData,
        backgroundColor: [
          'rgba(255, 99, 132, 0.6)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)'
        ],
        yAxisID: 'y',
        borderWidth: 1
      },
      {
        label: 'LHTZ BL',
        data: LHTZ_BLchartData,
        backgroundColor: [
         'rgba(255, 99, 132, 0.2)'
        ],
        yAxisID: 'y',
        borderColor: [
          'rgba(255, 99, 132, 1)'

        ],
        borderWidth: 1
      },
      {
        label: 'RHTZ FL',
        data: RHTZ_FLchartData,
        backgroundColor: [
          'rgba(100, 149, 237, 0.8)'
        ],
        yAxisID: 'y',
        borderColor: [
          'rgba(100, 149, 237, 1)'
        ],
        borderWidth: 1
      },
      {
        label: 'RHTZ BL',
        data: RHTZ_BLchartData,
        backgroundColor: [
          'rgba(100, 149, 237, 0.2)'
        ],
        yAxisID: 'y',
        borderColor: [
          'rgba(100, 149, 237, 1)'
        ],
        borderWidth: 1
      }
    ]
  },
  options: {
    scales: {
      y: {
        stacked: true,
        title: {
          text: 'Peak force (kg)',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      y1: {
        position: 'right',
        min: -100,
        max: 100,
        title: {
          text: 'Asymmetry (%)',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      x: {
        stacked: true,
        title: {
          text: 'Test number',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});

// Get references to the select elements
var sessionSelect5 = document.getElementById("baseline-select");
sessionSelect5.addEventListener("change", updateChart5);
var metricSelect5 = document.getElementById("asym-select");
metricSelect5.addEventListener("change", updateChart5);
var dataSelect5 = document.getElementById("cc-metric-select");
dataSelect5.addEventListener("change", updateChart5);
// Function to update the chart when a new option is selected
function updateChart5() {
    var sessions5 = {{ sessions|tojson|safe }}
    var selectedSession5 = sessionSelect5.options[sessionSelect5.selectedIndex].text;
    var sessionData5 = getSessionData(sessions5, selectedSession5);
    var table5 = document.getElementById("last-baseline-cc-table")
    var selectedMetric5 = metricSelect5.options[metricSelect5.selectedIndex].text;
    var selectedData5 = dataSelect5.options[dataSelect5.selectedIndex].text;
    chartData = getAsymMetric(selectedData5, sessionData5['LHTZ'], sessionData5['RHTZ']);
    var TZ_asym = getAsym(selectedMetric5, chartData);
    updateChartDataAsym(TZ_asym, chartData, lbCombinedCrush);
    updateTableAsym(TZ_asym, chartData, table5);
  }
updateChart5();
  </script>


{% endblock %}
</body>
</html>