<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Create an account</title>



  </head>

  <body>
    <div>
      {% for message in get_flashed_messages() %}

        <div class="alert alert-dark alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    <br>
    {% if submit %}
      <h4> Welcome {{uname}}! Account created successfully </h4>
    {% else %}
      <h4> Create an account </h4>
      <br>
      <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
          {{ form.hidden_tag() }}
          {{ form.fname.label(class="form-label") }}
          {{ form.fname(class="form-control") }}

          {{ form.sname.label(class="form-label") }}
          {{ form.sname(class="form-control") }}

          {{ form.uname.label(class="form-label") }}
          {{ form.uname(class="form-control") }}

          {{ form.pwd.label(class="form-label") }}
          {{ form.pwd(class="form-control") }}

          {{ form.repwd.label(class="form-label") }}
          {{ form.repwd(class="form-control") }}

          {{ form.org.label(class="form-label") }}
          {{ form.org(class="form-control") }}

          {{ form.role.label(class="form-label") }}
          {{ form.role(class="form-control") }}
          <br>
          {{ form.submit(class="btn btn-secondary")}}
        </form>
       </div>
      {% endif %}
    </div>
  </body>
{% endblock %}
</html>