<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
<script src="/static/js/graphingFunctions.js"></script>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Squad Analysis</title>



  </head>
  <body>
  <div>
    {% for message in get_flashed_messages() %}

      <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    {% endfor %}
    <br>
  </div>

  <h4> {{current_user.username|capitalize}} Squad View: {{ pro }} protocol</h4>
  <br><br>
  <div class="card">
  <h5 class="card-header">Featured: squad activity</h5>
  <div class="card-body">
    <h5 class="card-title">Activity log</h5>
    <p class="card-text">Monitor squad participation in <strong>{{ pro }}</strong> protocol.</p>
    <canvas id="activityChart" width="100%" height="40%"></canvas>
  </div>
  </div>
  <br><br>

  <div class="card">
  <h5 class="card-header">Featured: All-time performance</h5>
  <div class="card-body">
    <h5 class="card-title"> Top performers </h5>
    <p class="card-text">Compare each squad member's performance in <strong>{{ pro }}</strong> protocol.</p>
      <label for="sh-metric-select">Select Metric:</label>
        <select id="sh-metric-select">
          <option value="peak-crush-factor">Peak crush factor</option>
          <option value="front-leg-peak-force">Front leg peak force</option>
          <option value="back-leg-peak-force">Back leg peak force</option>
          <option value="crush-factor-150ms">Crush factor at 150ms</option>
          <option value="front-leg-force-150ms">Front leg force at 150ms</option>
          <option value="back-leg-force-150ms">Back leg force at 150ms</option>
        </select>
        <!-- Second dropdown for selecting the data type -->
        <label for="sh-type-select">Select Data Type:</label>
        <select id="sh-type-select">
          <option value="max">Maximum scores</option>
          <option value="avg">Average scores</option>
        </select>
      <canvas id="squadHistoricalChart" width="100%" height="55%"></canvas>
      <br>
      <table id="squad-historical-table" class="table table-bordered border-dark" width="100%" style="text-align:center"></table>
    <br>
    <hr>
  </div>
  </div>
<br><br>
<div class="card">
  <h5 class="card-header">Featured: session performance</h5>
  <div class="card-body">
    <h5 class="card-title"> Isolated sessions </h5>
    <p class="card-text">Compare each squad member's performance in <strong>{{ pro }}</strong> protocol on the selected date.</p>
    <label for="shd-date-select">Select Session Date:</label>
        <select id="shd-date-select">
          {% for date in testDates %}
          <option> {{ date }} </option>
          {% endfor %}
        </select>
      <label for="shd-metric-select">Select Metric:</label>
        <select id="shd-metric-select">
          <option value="peak-crush-factor">Peak crush factor</option>
          <option value="front-leg-peak-force">Front leg peak force</option>
          <option value="back-leg-peak-force">Back leg peak force</option>
          <option value="crush-factor-150ms">Crush factor at 150ms</option>
          <option value="front-leg-force-150ms">Front leg force at 150ms</option>
          <option value="back-leg-force-150ms">Back leg force at 150ms</option>
        </select>
        <!-- Second dropdown for selecting the data type -->
        <label for="shd-type-select">Select Data Type:</label>
        <select id="shd-type-select">
          <option value="max">Maximum scores</option>
          <option value="avg">Average scores</option>
        </select>
      <canvas id="squadDateHistoricalChart" width="100%" height="40%"></canvas>
      <br>
      <table id="squad-date-historical-table" class="table table-bordered border-dark" width="100%" style="text-align:center"></table>
    <br>
    <hr>
  </div>
  </div>


  <script>
      const labels = {{ allDates|safe }}
      const data = {
        labels: labels,
        datasets: [{
          label: 'Tests completed',
          data: {{ allTests|safe }},
          fill: true,
          borderColor: 'rgb(100, 75, 185)',
          tension: 0.05
        }]
      }

      new Chart(document.getElementById("activityChart"), {
          type: "line",
          data: data,
          options: {
            scales: {
                y:{
                  min:0,
                  max:50,
                  title:{
                    text: 'Number of completed tests',
                    display: true
                  }
                },
                xAxes: [{
                  ticks: {
                    autoSkip: true,
                    maxTicksLimit: 2
                  }
                }]
              }
            }
        });
    </script>

 <script>
  // Get the data from the LHTZ_data and RHTZ_data dictionaries
var data3 = {{ squadProData|tojson|safe }};

// Extract the session names
var session_names = [];
for (var session in data3) {
  session_names.push(session);
}

// Extract the data for the chart
var BH_LHTZ_data = [];
var BH_RHTZ_data = [];
for (var session in data3) {
  BH_LHTZ_data.push(data3[session]['LHTZ']['max']['Front leg force at 150ms'][0]);
  BH_RHTZ_data.push(data3[session]['RHTZ']['max']['Front leg force at 150ms'][0]);
}

// Create a new chart
const ctx3 = document.getElementById("squadHistoricalChart").getContext("2d");
const squadHistoricalChart = new Chart(ctx3, {
  type: "bar",
  data: {
    labels: session_names,
    datasets: [{
        label: 'LHTZ',
        data: BH_LHTZ_data,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 1
      },
      {
        label: 'RHTZ',
        data: BH_RHTZ_data,
        backgroundColor: [
          'rgba(54, 162, 235, 0.2)'
        ],
        borderColor: [
          'rgba(54, 162, 235, 1)'
        ],
        borderWidth: 1
      }
    ]
  },
  options: {
    plugins: {
      tooltip: {
        callbacks: {
          label: function(tooltipItem) {
            var Data = squadHistoricalChart.data;
            var index = tooltipItem.dataIndex;
            console.log(index)
            var LHTZ_value = 0;
            var RHTZ_value = 0;
            if (Data && Data.datasets[0].data[index]) {
                LHTZ_value = Data.datasets[0].data[index];
            }
            if (Data && Data.datasets[1].data[index]) {
                RHTZ_value = Data.datasets[1].data[index];
            }
            var difference = RHTZ_value - LHTZ_value;
            var difference_percent = (difference / LHTZ_value * 100).toFixed(2);
            return "LHTZ: " + LHTZ_value + " kg\n" + "RHTZ: " + RHTZ_value + " kg\n" + "Asymmetry: " + difference_percent + "%";
          }
        }
      }
    },
    scales: {
      y: {
        title: {
          text: 'Force (kg)',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      x: {
        title: {
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      yAxes: [{
        ticks: {
          beginAtZero: true,
        }
      }]
    }
  }
});


// Get references to the select elements
var metricSelect3 = document.getElementById("sh-metric-select");
var dataSelect3 = document.getElementById("sh-type-select");
metricSelect3.addEventListener("change", updateChart3);
dataSelect3.addEventListener("change", updateChart3);
// Function to update the chart when a new option is selected
function updateChart3() {
    var table3 = document.getElementById("squad-historical-table")
    var selectedMetric3 = metricSelect3.options[metricSelect3.selectedIndex].text;
    var selectedData3 = dataSelect3.options[dataSelect3.selectedIndex].value;
    var filteredData3 = filterDataHistorical(selectedData3, selectedMetric3, data3);
    updateChartDataHistorical(filteredData3, squadHistoricalChart, session_names);
    updateTableHistorical(filteredData3, table3, session_names);
  }
updateChart3();
</script>


<script>
  // Get the data from the LHTZ_data and RHTZ_data dictionaries
var data4 = {{ squadProDateData|tojson|safe }};

// Extract the data for the chart
var BH_LHTZ_data = [];
var BH_RHTZ_data = [];
var session_names2 = [];
for (var session in data4) {
	for (var user in data4[session]) {
    BH_LHTZ_data.push(data4[session][user]['LHTZ']['max']['Front leg force at 150ms'][0]);
    BH_RHTZ_data.push(data4[session][user]['RHTZ']['max']['Front leg force at 150ms'][0]);
  	session_names2.push(user);
    }
}

// Create a new chart
const ctx4 = document.getElementById("squadDateHistoricalChart").getContext("2d");
const squadDateHistoricalChart = new Chart(ctx4, {
  type: "bar",
  data: {
    labels: session_names2,
    datasets: [{
        label: 'LHTZ',
        data: BH_LHTZ_data,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 1
      },
      {
        label: 'RHTZ',
        data: BH_RHTZ_data,
        backgroundColor: [
          'rgba(54, 162, 235, 0.2)'
        ],
        borderColor: [
          'rgba(54, 162, 235, 1)'
        ],
        borderWidth: 1
      }
    ]
  },
  options: {
    plugins: {
      tooltip: {
        callbacks: {
          label: function(tooltipItem) {
            var Data = squadDateHistoricalChart.data;
            var index = tooltipItem.dataIndex;
            console.log(index)
            var LHTZ_value = 0;
            var RHTZ_value = 0;
            if (Data && Data.datasets[0].data[index]) {
                LHTZ_value = Data.datasets[0].data[index];
            }
            if (Data && Data.datasets[1].data[index]) {
                RHTZ_value = Data.datasets[1].data[index];
            }
            var difference = RHTZ_value - LHTZ_value;
            var difference_percent = (difference / LHTZ_value * 100).toFixed(2);
            return "LHTZ: " + LHTZ_value + " kg\n" + "RHTZ: " + RHTZ_value + " kg\n" + "Asymmetry: " + difference_percent + "%";
          }
        }
      }
    },
    scales: {
      y: {
        title: {
          text: 'Force (kg)',
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      x: {
        title: {
          color: 'black',
          display: true
        },
        border: {
          color: 'black'
        },
        ticks: {
          color: 'black'
        }
      },
      yAxes: [{
        ticks: {
          beginAtZero: true,
        }
      }]
    }
  }
});


// Get references to the select elements
var dateSelect = document.getElementById("shd-date-select");
var metricSelect = document.getElementById("shd-metric-select");
var dataSelect = document.getElementById("shd-type-select");
metricSelect.addEventListener("change", updateChart);
dataSelect.addEventListener("change", updateChart);
dateSelect.addEventListener("change", updateChart);
// Function to update the chart when a new option is selected
function updateChart() {
    var table = document.getElementById("squad-date-historical-table")
    var selectedMetric = metricSelect.options[metricSelect.selectedIndex].text;
    var selectedData = dataSelect.options[dataSelect.selectedIndex].value;
    var selectedDate = dateSelect.options[dateSelect.selectedIndex].value;
    var datedSession = getDatedSession(data4, selectedDate)
    var datedSessionUsers = getDatedSessionUsers(datedSession)
    var filteredData = filterDataHistorical(selectedData, selectedMetric, datedSession);
    updateChartDataHistorical(filteredData, squadDateHistoricalChart, datedSessionUsers);
    updateTableHistorical(filteredData, table, datedSessionUsers);
  }
updateChart();
</script>



  </body>
{% endblock %}
</html>